#content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: black;
}

#diagramSpace {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#editor {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

#contextMenuId {
    background-color: #f3f3f3;
    z-index: 1;
    opacity: 0.9;
    margin: 10px;
    width: 200px;
    height: fit-content;
    filter: drop-shadow(-5px 5px 2px #727272);
    outline: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.optionButton {
    padding: 5px;
}

.optionButton:hover {
    background-color: lightgray;
}

#contextMenuId .options>div {
    padding: 5px;
    border: 1px black solid
}

#contextHeader p {
    font-weight: bold;
    padding: 5px;
}

#mergeWizard {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.editorWindow {
    position: absolute;
    background-color: #DAE4E4;
}

.composer {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.editorWindow2 {
    position: relative;
    height: auto;
    background-color: #e4d7b3;
    border: 1px black solid;
}

.palette {
    background-color: #f3f3f3;
    z-index: 1;
    opacity: 0.9;
    float: right;
    margin: 10px;
    width: 150px;
    height: fit-content;
    filter: drop-shadow(-5px 5px 2px #727272);
    outline: none;
    display: flex;
    flex-direction: column;
}

#myPaletteDiv canvas, #myDiagramDiv canvas, #mergeDiagramDiv canvas, #mergeDiagramDiv2 canvas {
    outline: none;
}

#myPaletteDiv {
    width: 150px;
    height: 200px;
}

#elementList {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

#elementList li {
    color: black;
    background-color: white;
    margin: 1px;
    font-size: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: 3px;
    cursor: pointer;
}

.selectedNodeMergeOption {
    display: flex;
    flex-direction: column;
}

.selectedNodeMergeOption div {
    margin: 5px;
}

.searchBarMerge, #txtModel {
    width: 100%;
    box-sizing: border-box;
    margin: 1px;
    padding: 3px;
}

#elementList li:hover {
    background-color: yellow;
}

.elementSelection {
    margin: 1px;
    font-size: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: 3px;
    cursor: pointer;
}

.elementSelection:hover {
    background-color: yellow;
}

#searchDiv {
    overflow-y: auto;
}

#mergeSelectionDiv {
    overflow-y: auto;
}

summary {
    border: 4px solid transparent;
    outline: none;
    padding: 1rem;
    display: block;
    background: #444;
    color: white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none;
}

details[open]>summary:before {
    transform: rotate(90deg);
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

.content {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.menu {
    display: flex;
    flex-direction: row;
}
/* 
.menuId {
    display: flex;
    flex-direction: row;
} */

.dropdown {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.menuTitle {
    border: 4px solid transparent;
    outline: none;
    padding: 1rem;
    display: block;
    background: #444;
    color: white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}